body, html
{
    font-family: "Trebuchet MS",Georgia,serif;
    color: #313131;
    background: url("wood.jpg") no-repeat fixed center;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.asterisk_red
{
    color: red;
}