body, html
{
    font-family: "Trebuchet MS","Georgia","Serif";
    color: #eeeeee;
    background: url("background_image_resize.jpg") no-repeat fixed center;
    background-size: cover;
}

header
{
    width:100%;
    height: 25%;
    background-color: #313131;
    text-align: center;
    color: #fff;
    line-height: 120px;
}

/**************************************************************************************************
*My navigation bar style starts here
***************************************************************************************************/

#nav_bar *
{
    margin: 0;
    padding: 0;
}
/*transform a list*/
#nav_bar li
{
    position: relative;
    float: left;
    list-style: none;
    width: 100%;
    z-index: 1;
}

#nav_bar li.first_tier
{
    width: 20%;
}

/*make each item a block*/
#nav_bar li a
{
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: #FF9900;
    color: #fff;
}

/*hide those that are not in first tier unordered list */
#nav_bar ul ul
{
    /*Align item under one another */
    position: absolute;
    top: 100%;
    width: 100%;
    /*hide it*/
    visibility: hidden;
}

/*visible when hover*/
#nav_bar li:hover > ul
{
    visibility:visible;
}

/*Change color when hover*/

#nav_bar li a:hover
{
    background-color: #909090;
}

/**************************************************************************************************
*Food of the day
***************************************************************************************************/
.food_container
{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
}
.food_checkbox
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.asterisk_red
{
    color: red;
}

.image_block
{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 220px;
}

.caption
{
    display: block;
}

.display_product_info * {
    vertical-align: top;
}