body, html
{
    font-family: "Trebuchet MS",Georgia,serif;
    color: #000000;
    background: url("login_background.jpg") no-repeat fixed center;
    background-size: cover;
}

.manager_homepage_div
{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    position:absolute;
    left: 20%;
}