body, html
{
    font-family: "Trebuchet MS", "Georgia", serif;
    color: #ffffff;
    background: url("background_image_resize.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#my_header
{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #313131;
}

#my_header1
{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #313131;
}

header
{
    height: 25%;
    text-align: center;
    color: #fff;
    line-height: 120px;
}

#container
{
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.toggle-nav
{
    color: #fff;
    font-size: 350%;
    position: absolute;
    top: 50%;
}


/**************************************************************************************************
*My navigation bar style starts here
***************************************************************************************************/

#nav *
{
    margin: 0;
    padding: 0;
}

/*transform a list*/
#nav li
{
    position: relative;
    float: left;
    list-style: none;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

#nav li.first_tier
{
    width: 20%;
}

/*make each item a block*/
#nav li a
{
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: #FF9900;
    color: #fff;
}

/*make each item a block*/
.replace_a
{
    width: 100%;
    height: 100%;
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: #FF9900;
    color: #fff;
}

/*hide those that are not in first tier unordered list */
#nav ul ul
{
    /*Align item under one another */
    position: absolute;
    top: 100%;
    width: 100%;
    /*hide it*/
    display: none;
}

/*visible when hover*/
#nav li:hover > ul
{
    display: block;
}

/*Change color when hover*/

#nav li a:hover
{
    background-color: #909090;

}

.replace_a:hover
{
    background-color: #909090;

}


/**************************************************************************************************
*Displaying special sale on main web page
***************************************************************************************************/
.main_div
{
    position:relative;
    top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    width: 90%;
}

.asterisk_red
{
    color: red;
}

.image_block
{
    vertical-align: top;
    display: inline-block;
    width: 220px;
    padding-bottom: 35px;
}

.caption
{
    display: block;
    text-align: center;
    background-color: black;
    width: 200px;
}

.display_product_info * {
    vertical-align: top;
}

.my_image{
    width: 200px;
    height: 200px;
}

.special_sale_ad
{
    color: red;
}

/**************************************************************************************************
*Displaying detail of a product page
***************************************************************************************************/
.product_detail_container
{
    margin-right: 10%;
    margin-left: 10%;
}

#my_image
{
    width: 400px;
    float: left;
}

#product_image
{
    width: 400px;
}

#sale_text
{
    position: relative;
    left: 2%;
    padding-bottom: 1%;
    font-size: 150%;

}
.image_info
{
    overflow: hidden;
    padding-bottom: 1%;
    width: 100%;
}

#add_to_cart_button
{
    vertical-align: bottom;
    bottom: auto;
    width: 200px;
    background: orange;
    border: orange;
    height: 30px;
    cursor: pointer;
    text-align: center;
}



/**************************************************************************************************
*Log in page style
***************************************************************************************************/
.outer_box_login
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #313131;
}

.login_form1
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 90%;
}

#pwd_login
{
    position:relative;
    left:11px;
}

/**************************************************************************************************
*Shopping cart display style
***************************************************************************************************/
.delete_id
{
    position: absolute;
    bottom: 0;
    left: 105px;
    /*make button look like text*/
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
}

.pname
{
    width: 400px;
    float: left;
    position: relative;
    left: 5px;
}

.other_components
{
    float: left;
}

/**************************************************************************************************
*Checkout page style
***************************************************************************************************/
#customer_shopping_cart_info
{
    float: left;
    width: 50%;
}

#shipping_addr
{
    float: left;
    width: 40%;
    position: relative;
    top: 5%;
    left: 3%;
}

#billing_addr
{
    float: left;
    width: 30%;
    position: relative;
    top: 5%;
}

#payment_method
{
    position: relative;
    top: 5%;
}

#shopping_cart_info
{
    position: relative;
    top: 20px;
    border: solid 1px #909090;
    background: #4c3100;
}

.img_product_cart
{
    position: absolute;
    float: left;
}

.pname_cart
{
    width: 40%;
    float: left;
    position: absolute;
    left: 105px;
}

.price_quantity_cart
{
    position: absolute;
    left: 67%;
    width: 10%;
}

#customer_info
{
    height: 130px;
    border: solid 1px #909090;
    background: #4c3100;
}

#order_summary
{
    position: absolute;
    left: 60%;
    border: solid 1px #909090;
    width: 30%;
    height: 170px;
    background: #4c3100;
}

#edit_info
{
    background: none;
    border: none;
    cursor: pointer;
    color: #6666ff;
}

#edit_cart_checkout
{
    background: none;
    border: none;
    cursor: pointer;
    color: #6666ff;
    position: absolute;
    left: 20px;
}

#place_order_checkout
{
    background: orange;
    border: orange;
    width: 90%;
    height: 30px;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 5%;
    top: 5%;
}

.indent_left
{
    float: right;
    position: relative;
    right: 5%;
    top: 5%;
}

/**************************************************************************************************
*Past orders style
***************************************************************************************************/
.more_info_past_order
{
    background: none;
    border: none;
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

#customer_info_order_summary
{
    border: solid 1px #909090;
    position: absolute;
    width: 60%;
    height: 150px;
    background: #4c3100;
    left: 20%;
}

#shipping_addr_past_order
{
    float: left;
    width: 25%;
    position: relative;
    top: 5%;
    left: 2%;
}

#payment_method_past_order
{
    float: left;
    width: 30%;
    position: relative;
    top: 5%;
}

#order_summary_past_order
{
    float: left;
    width: 45%;
    position: relative;
    top: 5%;
}

#products_info
{
    position: relative;
    top: 170px;
    left: 20%;
    width: 60%;
    border: solid 1px #909090;
    background: #4c3100;
}

.pname_past_order
{
    width: 50%;
    height: 50px;
    float: left;
    position: absolute;
    left: 105px;
}

.price_quantity_past_order
{
    position: absolute;
    left: 75%;
    width: 18%;
}

.shopping_cart_item_past_order
{
    position: relative;
    left: 2%;
}

#past_order_info
{
    background-color: #313131;
}
/**************************************************************************************************
*Responsive web design for phone
*Start with iphone 5s and 6
***************************************************************************************************/
@media only screen and (max-device-width: 667px)
{
    body,html
    {
        background: url("foodblogbackground.jpg") fixed center center;
    }
    #my_header1
    {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 0;
    }
    header
    {
        width: 90%;
        float: right;
        line-height: 45px;
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    /*div of forms*/
    .main_div
    {
        position:relative;
        top: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #container
    {
        width: 100%;
        height: 100vh; /*Size of element will be relative to size of viewport*/
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding-bottom: 0;
        top: 0;
        left: 0;
    }

    #canvas
    {
        width: 100%;
        height: 100%;
        padding: 5.5% 0;
        position: relative;

        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0);

        -webkit-transition:.5s ease all;
        -moz-transition:.5s ease all;
        -o-transition:.5s ease all;
        transition:.5s ease all;
    }
    #nav {
        width: 250px;
        height: 100%;
        background: #313131;
        position: absolute;
        left: -250px;
        top: 0;

        -webkit-transition:.5s ease all;
        -moz-transition:.5s ease all;
        -o-transition:.5s ease all;
        transition:.5s ease all;

        /* By default, rotate the menu 90deg inwards */
        -webkit-transform:rotateY(-90deg);
        -moz-transform:rotateY(-90deg);
        -ms-transform:rotateY(-90deg);
        -o-transform:rotateY(-90deg);
        transform:rotateY(-90deg);
    }
    #container.display-nav #canvas {
        -webkit-transform:translateX(250px);
        -moz-transform:translateX(250px);
        -ms-transform:translateX(250);
        -o-transform:translateX(250px);
        transform:translateX(250px);
    }

    /* transition the menu with perspective on "show-nav" */
    #container.display-nav #nav {
        -webkit-transform-origin:100% 50%;
        -moz-transform-origin:100% 50%;
        -ms-transform-origin:100% 50%;
        -o-transform-origin:100% 50%;
        transform-origin:100% 50%;

        -webkit-transform:perspective(600px) rotateY(0deg);
        -moz-transform:perspective(600px) rotateY(0deg);
        -ms-transform:perspective(600px) rotateY(0deg);
        -o-transform:perspective(600px) rotateY(0deg);
        transform:perspective(600px) rotateY(0deg);
    }
    /*changing list style of nav bar*/
    #nav li.first_tier
    {
        width: 100%;
        border-bottom: 5px solid #313131;
    }
    #nav ul ul
    {
        /*Reset values for vertical drop-down list*/
        position: static;
        top: auto;
        width: auto;

    }
    /*transform a list*/
    #toggle li a, .replace_a
    {
        height: 60px;
        font-size: 25px;

    }
    .border
    {
        border-top: 5px solid #313131;
    }
    #toggle ul li a, #toggle ul li .replace_a
    {
        background-color: #995300;
        border-top: 5px solid #313131;
    }
    #toggle ul li .replace_a:hover
    {
        background-color: #909090;
    }
    /*Bigger header and images*/
    .image_block
    {
        width: 280px;
    }
    .caption
    {
        width: 260px;
    }
    .my_image
    {
        width: 260px;
        height: 260px;
    }
    .special_sale_ad, .orig_ad
    {
        font-size: 20px;
    }
    /**************************************************************************************************
    *Log in page style
    ***************************************************************************************************/
    .outer_box_login
    {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: #313131;
        height: 1000px;
    }

    .login_form1
    {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 100%;
    }
    #header_login
    {
        font-size: 120px;
    }
    .login_label
    {
        font-size: 60px;
    }
    #usrname_login, #pwd_login, #submit_log_in, #to_home_from_login
    {
        font-size: 35px;
    }
}

/**************************************************************************************************
*Responsive web design for desktop browser
***************************************************************************************************/
@media only screen and (min-device-width: 668px) and (max-width: 1024px)
{
    #my_header1
    {
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 0;
    }
    header
    {
        width: 90%;
        float: right;
        line-height: 110px;
        font-size: 35px;
        margin: 0;
        padding: 0;
    }
    #container
    {
        width: 100%;
        height: 100vh; /*Size of element will be relative to size of viewport*/
        overflow: hidden;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    /*div of forms*/
    .main_div
    {
        position:absolute;
        top: 320px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #canvas
    {
        width: 100%;
        height: 100%;
        padding: 5.5% 0;
        position: relative;
        border: solid;

        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        transform:translateX(0);

        -webkit-transition:.5s ease all;
        -moz-transition:.5s ease all;
        -o-transition:.5s ease all;
        transition:.5s ease all;
    }
    #nav {
        width: 500px;
        height: 100%;
        background: #313131;
        position: absolute;
        left: -500px;
        top: 0;
        -webkit-transition:.5s ease all;
        -moz-transition:.5s ease all;
        -o-transition:.5s ease all;
        transition:.5s ease all;

        /* By default, rotate the menu 90deg inwards */
        -webkit-transform:rotateY(-90deg);
        -moz-transform:rotateY(-90deg);
        -ms-transform:rotateY(-90deg);
        -o-transform:rotateY(-90deg);
        transform:rotateY(-90deg);
    }
    #container.display-nav #canvas {
        -webkit-transform:translateX(500px);
        -moz-transform:translateX(500px);
        -ms-transform:translateX(500px);
        -o-transform:translateX(500px);
        transform:translateX(500px);
    }

    /* transition the menu with perspective on "show-nav" */
    #container.display-nav #nav {
        -webkit-transform-origin:100% 50%;
        -moz-transform-origin:100% 50%;
        -ms-transform-origin:100% 50%;
        -o-transform-origin:100% 50%;
        transform-origin:100% 50%;

        -webkit-transform:perspective(600px) rotateY(0deg);
        -moz-transform:perspective(600px) rotateY(0deg);
        -ms-transform:perspective(600px) rotateY(0deg);
        -o-transform:perspective(600px) rotateY(0deg);
        transform:perspective(600px) rotateY(0deg);
    }
    /*changing list style of nav bar*/
    #nav li.first_tier
    {
        width: 100%;
        border-bottom: 1px solid #313131;
    }
    #nav ul ul
    {
        /*Reset values for vertical drop-down list*/
        position: static;
        top: auto;
        width: auto;

    }
    /*transform a list*/
    #toggle li a, .replace_a
    {
        height: 90px;

    }
    .border
    {
        border-top: 1px solid #313131;
    }
    #toggle ul li a, #toggle ul li .replace_a
    {
        background-color: #995300;
        border-top: 1px solid #313131;
    }
    #toggle ul li .replace_a:hover
    {
        background-color: #909090;
    }
    /**************************************************************************************************
    *Log in page style
    ***************************************************************************************************/
    .outer_box_login
    {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: #313131;
        height: 200px;
    }

    .login_form1
    {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 90%;
    }
    /**************************************************************************************************
    *Displaying detail of a product page
    ***************************************************************************************************/
    .product_detail_container
    {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .image_info
    {
        padding-bottom: 1%;
        width: 100%;
        background-color: #000;
    }
    #product_image
    {
        width: 100%;
        height: 400px;
    }
    #my_image
    {
        width: 100%;
    }

    #sale_text
    {
        position: relative;
        left: 0;
        padding-bottom: 1%;

    }

    #add_to_cart_button
    {
        vertical-align: bottom;
        bottom: auto;
        width: 200px;
        background: orange;
        border: orange;
        height: 30px;
        cursor: pointer;
        text-align: center;
    }
}