.first_box_element_signup_page, .second_box_element_signup_page
{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

#security_signup_page
{
    position: relative;
    left: 20px;
    width: 90%;
}

#last_name_signup_page, #country_shipping_signup_page, #dob_signup_page, #exp_year_signup_page, #country_billing_signup_page, #email_signup_page, #pwd_signup_page
{
    width: 90%;
}

@media only screen and (max-width: 650px)
{
    .first_box_element_signup_page
    {
        width: 100%;
    }
}

@media only screen and (max-width: 450px)
{
    .second_box_element_signup_page
    {
        width: 100%;
    }
    #security_signup_page
    {
        left: 0;
    }
}